body {
    background-color: #489efd;
}

.loader-clock {
    width: 120px;
    height: 120px;
    border: 3px solid #fff;
    border-radius: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    display: block;
}

.loader-clock::after {
    content: '';
    position: absolute;
    background-color: #fff;
    top: 13px;
    left: 48%;
    height: 50px;
    width: 4px;
    border-radius: 5px;
    -webkit-transform-origin: 50% 97%;
    transform-origin: 50% 97%;
    -webkit-animation: animasi1 2s linear infinite;
    animation: animasi1 2s linear infinite;
}

/* animasi 1 */

@-webkit-keyframes animasi1 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes animasi1 {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.loader-clock::before {
    content: '';
    position: absolute;
    background-color: #fff;
    top: 24px;
    left: 48%;
    height: 40px;
    width: 4px;
    border-radius: 5px;
    -webkit-transform-origin: 50% 94%;
    transform-origin: 50% 94%;
    -webkit-animation: animasi2 12s linear infinite;
    animation: animasi2 12s linear infinite;
}

/* animasi 2 */

@-webkit-keyframes animasi2 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes animasi2 {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

